/* App.css */
.container {
  padding: 1rem;
  max-width: 28rem;
  margin: 0 auto;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  gap: 1rem;  /* Dodaje odstęp między przyciskami */
  margin-top: 1rem;
}

.button {
  background-color: #10b981;  /* Zielony kolor */
  color: white;
  padding: 0.5rem;
  width: 48%;  /* Ustawiamy szerokość przycisków na 48% */
  cursor: pointer;
}

.button:hover {
  background-color: #059669;  /* Ciemniejszy odcień zieleni na hover */
}
