/* AddAsset.css */
.container {
    padding: 1rem;
    max-width: 28rem;
    margin: 0 auto;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.input {
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
}

.button {
    background-color: #10b981;
    color: white;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

.button:disabled {
    background-color: #a3a3a3;
    cursor: not-allowed;
}

.error {
    color: #f87171;
    margin-top: 0.5rem;
}
